<!-- 채팅 컨테이너 -->
<div class="chat">
    <form class="chat__write-message"onsubmit="Chat__writeMessage(this); return false;">
        <input type="text" placeholder="작성자" name="authorName" />
        <input type="text" placeholder="내용을 입력해주세요." name="content" />
        <input type="submit" value="작성" />
    </form>
    <div class="chat__message-box">
        <ul class="chat__message-ul"></ul>
    </div>
</div>

<script>

    function fetchPost(url, data) {
      return fetch(url, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          Accept: "application/json",
        },
        body: JSON.stringify(data), // 데이터를 JSON 문자열로 변환
      }).then((response) => response.json());
    }

    function fetchGet(url, data) {
      // 쿼리 파라미터 생성 (예: key1=value1&key2=value2)
      let query = Object.keys(data)
              .map((k) => encodeURIComponent(k) + "=" + encodeURIComponent(data[k]))
              .join("&");
      return fetch(url + "?" + query, {
        method: "GET",
        headers: {
          "Content-Type": "application/json",
          Accept: "application/json",
        },
      }).then((response) => response.json());
    }

    function Chat__writeMessage(form) {
      form.authorName.value = form.authorName.value.trim();
      if (form.authorName.value.length == 0) {
        alert("작성자를 입력해주세요.");
        form.authorName.focus();
        return;
      }

      form.content.value = form.content.value.trim();
      if (form.content.value.length == 0) {
        form.content.focus();
        return;
      }

      fetchPost("/chat/writeMessage", {
        authorName: form.authorName.value,
        content: form.content.value,
      }).then(console.log);

      form.content.value = "";
      form.content.focus();
    }

    //서버에서 데이터 수신 >> 화면에 표시
    let Chat__lastLoadedId = 0;
    function Chat__loadMore() {
      fetchGet("/chat/messages", {fromId: Chat__lastLoadedId})
              .then(body => {
                Chat__drawMessages(body.data.chatMessages);
              });
    }

    //데이터 수신
    const Chat__elMessageUl = document.querySelector('.chat__message-ul');
    function Chat__drawMessages(messages) {
      if (messages.length > 0) {
        Chat__lastLoadedId = messages[messages.length - 1].id;
      }
      messages.forEach((message) => {
        Chat__elMessageUl
                .insertAdjacentHTML(
                        "afterBegin",
                        `<li>${message.authorName} : ${message.content}</li>`
                );
      });
    }
    Chat__loadMore();

    //SSE연결 후,  chat__messageAdded 이벤트 발생 시 Chat__loadMore() 호출
    //1.const sse로 sse연결.
    //2.사용자가 메세지 입력시 sse.noti 호출
    //3.sse.noti는 모든 sse연결된 대상에게 chat__messageAdded를 뿌려, Chat__loadMore() 호출
    const sse = new EventSource("/sse/connect");
    sse.addEventListener('chat__messageAdded', e => {
    Chat__loadMore();
  });

</script>